*{
    margin :0;
    padding :0;

}
body{
    background-color: aqua;
    text-align: center;
}
 .container{
    background-color: brown;
  
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

 }
 .game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 2vmin;

 }
.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    background-color: burlywood;
    border: 0px solid black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    text-align:center;
}
.reset{
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: chartreuse;

}
p{
    font-size: 50px;
    font-weight: 100;
}
.msg{
    font-size: 25px;
    font-weight: 100;
    display: flex;

    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 15rem;
    height: 50rem;
}

.newbutton{
    font-size: 1.5rem;
    padding: 1rem;
    width: 16vmax;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: chartreuse;
}
.mess{
    display:none;

}